.c-container-2col__item { padding-top: $s-large; }

@media #{$bp-desk} {
  .c-container-2col {
    @include clearfix;
    margin: auto;
    display: flex;
    flex-flow: row;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;

    .c-container-2col__item {
      flex: 0 1 auto;
      box-sizing: border-box;
      width: 50%;
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        padding: $s-tiny ($s-tiny / 2) 0px 0px;
      }

      &:nth-child(2) {
        padding: $s-tiny 0px 0px ($s-tiny / 2);
      }

      &--stripe {
        &:nth-child(1) {background: linear-gradient(to left, #fdf6ff, #ffffff);}
        &:nth-child(2) {background: linear-gradient(to right, #fdf6ff, #ffffff);}
      }
    }
  }
}
