//----------------- Breakpoints & Thangz
$w-hand: "501px";
$w-lap: "901px";
$w-desk: "1101px";

$bp-touch: "(hover: none) and (pointer: coarse)";
$bp-hand: "(min-width: #{$w-hand})";
$bp-lap: "(min-width: #{$w-lap})";
$bp-lap-to-desk: "(min-width: #{$w-lap}) and (max-width: #{$w-desk})";
$bp-desk: "(min-width: #{$w-desk})";

$border-radius: 7px;
$font-size: 20px;
$page-max-width: 1400px;

//----------------- Z-Index
$z-1: 10;
$z-2: 20;
$z-3: 30;
$z-4: 40;

//----------------- Spacing
$s-horizontal-padding: 2.8vw;
$s-xtiny: 6px;
$s-tiny: 12px;
$s-small: 24px;
$s-regular: 36px;
$s-large: 54px;
$s-xlarge: 72px;

//----------------- Theme Colors
$colors-light: (
  c-background-primary-animation-alternate: #fdebd1,
  c-background-primary: #e1fdd1,
  c-background-accent: #fff9f0,
  c-background-accent2: #f3f0ff,
  c-background-accent2-dark: #d3e9fc,
  c-primary: #6a5ef5,
  c-primary-200: rgba(#6a5ef5, 0.5),

  // Neutrals
  c-foreground-xlight: #f8fdff,
  c-foreground-light: #4f4744,
  c-foreground-medium: #343f48,
  c-foreground-focal: #0f150a,

  c-system: #171717,
  c-border: #e9dbdb,
);

$colors-dark: (
  c-background-primary: #38332c,
  // c-background-primary: #2e2e3e,
  c-background-accent: #2e2922,
  // c-background-accent: #25222e,
  c-background-accent2: #1d1d26,
  c-background-accent2-dark: #237652,

  c-primary: #1c5f42,
  c-primary-200: rgba(#0f3927, 0.5),

  // Neutrals
  c-foreground-xlight: #f8fdff,
  c-foreground-light: #ffe5d3,
  c-foreground-medium: #f3d8b7,
  c-foreground-focal: #f8fdff,

  c-system: #171717,
  c-border: #413131,
);

$DEFAULT-THEME: $colors-light;

//----------------- Type Mixins
$ff-primary: "Graphik", sans-serif;
$ff-secondary: "Louize", Georgia, "Times New Roman", serif;
$ff-display: "Louize Display", Georgia, "Times New Roman", serif;
