//----------------- Breakpoints & Thangz
$w-hand: "501px";
$w-lap: "901px";
$w-desk: "1101px";

$bp-touch: "(hover: none) and (pointer: coarse)";
$bp-hand: "(min-width: #{$w-hand})";
$bp-lap: "(min-width: #{$w-lap})";
$bp-lap-to-desk: "(min-width: #{$w-lap}) and (max-width: #{$w-desk})";
$bp-desk: "(min-width: #{$w-desk})";

$border-radius: 5px;
$font-size: 20px;
$page-max-width: 1300px;

//----------------- Z-Index
$z-1: 10;
$z-2: 20;
$z-3: 30;
$z-4: 40;

//----------------- Spacing
$s-horizontal-padding: 2.8vw;
$s-xtiny: 6px;
$s-tiny: 12px;
$s-small: 24px;
$s-regular: 36px;
$s-large: 54px;
$s-xlarge: 72px;

//----------------- Colors

$colors-light: (
  c-background-primary: #fdebd1,
  c-background-accent: #fff9f0,
  c-primary: #6a5ef5,
  c-primary-200: rgba(#6a5ef5, 0.5),

  // Neutrals
  c-grey-dark: #252A2D,
  c-foreground-medium: #343f48,
  c-grey-extralight: #f8fdff,

  c-system: #171717,
  c-border: #F4F4F4,
);

$colors-dark: (
  c-background-primary: #38332c,
  c-background-accent: #2e2922,

  c-primary: #6a5ef5,
  c-primary-200: rgba(#6a5ef5, 0.5),

  // Neutrals
  c-grey-dark: #ffe5d3,
  c-foreground-medium: #f3d8b7,
  c-grey-extralight: #f8fdff,

  c-system: #171717,
  c-border: #F4F4F4,
);

//----------------- Type Mixins
$ff-primary: "Graphik", sans-serif;
$ff-secondary: "Louize", Georgia, "Times New Roman", serif;
$ff-display: "Louize Display", Georgia, "Times New Roman", serif;
