@import "tools";
@import "variables";
@import "font-face";

@media (prefers-color-scheme: light) {
  :root {
    @each $key, $value in $colors-light {
      --#{$key}: #{$value};
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $key, $value in $colors-dark {
      --#{$key}: #{$value};
    }
  }
}

[data-theme="light"] {
  @each $key, $value in $colors-light {
    --#{$key}: #{$value};
  }
}

[data-theme="dark"] {
  @each $key, $value in $colors-dark {
    --#{$key}: #{$value};
  }
}

//---------------------- Base
body {
  box-sizing: border-box;

  font: 400 18px / 1.8 $ff-primary;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  font-smoothing: subpixel-antialiased;

  @include theme-var(color, c-foreground-medium);
  @include theme-var(background, c-background-primary);
}

img {
  box-sizing: border-box;
  display: inherit;
  width: 100%;
}

::selection {
  @include theme-var(background, c-primary, 0.7);
  @include theme-var(color, c-primary);
}

[js-breakpoint] {
  display: none;
  position: relative;
  z-index: 0;

  @media #{$bp-lap} { z-index: 1; }
  @media #{$bp-desk} { z-index: 2; }
}

//---------------------- Components
@import "components/c.browser";
@import "components/c.button";
@import "components/c.container";
@import "components/c.container-2col";
@import "components/c.emoji";
@import "components/c.link";
@import "components/c.list";
@import "components/c.page";
@import "components/c.paragraph";
@import "components/c.title";
@import "components/c.wrapper";
@import "components/c.box";
@import "components/c.citation";
@import "components/c.carousel";
@import "components/c.grid";
@import "components/c.toggle";
@import "components/c.loading";

//---------------------- Utilities
@import "utilities/u.spacing";
@import "utilities/u.highlight";
@import "utilities/u.subtle";
@import "utilities/u.animate";
@import "utilities/u.float";
@import "utilities/u.width";
@import "utilities/u.reveal";
@import "utilities/u.border";
@import "utilities/u.hide";
