@import "tools";
@import "variables";
@import "font-face";

@media (prefers-color-scheme: light) {
  :root {
    @each $key, $value in $colors-light {
      --#{$key}: #{$value};
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $key, $value in $colors-dark {
      --#{$key}: #{$value};
    }
  }
}

[data-theme="light"] {
  @each $key, $value in $colors-light {
    --#{$key}: #{$value};
  }
}

[data-theme="dark"] {
  @each $key, $value in $colors-dark {
    --#{$key}: #{$value};
  }
}

//---------------------- Base
body {
  box-sizing: border-box;

  font: 400 18px / 1.8 $ff-primary;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  font-smoothing: subpixel-antialiased;

  @include theme-var(color, c-foreground-medium);
  @include theme-var(background, c-background-primary);
}

img {
  box-sizing: border-box;
  display: inherit;
  width: 100%;
}

u {
  white-space: nowrap;
}

::selection {
  @include theme-var(background, c-foreground-medium);
  @include theme-var(color, c-background-primary);
}

[js-scroll-freeze="true"] {
  overflow-y: hidden;

  // Disable focus witin main app frame
  #root { user-select: none; }
}

[js-breakpoint] {
  display: none;
  position: relative;
  z-index: 0;

  @media #{$bp-lap} { z-index: 1; }
  @media #{$bp-desk} { z-index: 2; }
}

#root {
  min-height: 100vh;
}

//---------------------- Components
@import "components/c.avatar";
@import "components/c.browser";
@import "components/c.button";
@import "components/c.container";
@import "components/c.container-2col";
@import "components/c.emoji";
@import "components/c.link";
@import "components/c.list";
@import "components/c.page";
@import "components/c.paragraph";
@import "components/c.title";
@import "components/c.wrapper";
@import "components/c.box";
@import "components/c.citation";
@import "components/c.carousel";
@import "components/c.grid";
@import "components/c.toggle";
@import "components/c.toggle-button";
@import "components/c.loading";
@import "components/c.overlay-modal";
@import "components/c.overlay-hud";

//---------------------- Utilities
@import "utilities/u.spacing";
@import "utilities/u.highlight";
@import "utilities/u.subtle";
@import "utilities/u.animate";
@import "utilities/u.float";
@import "utilities/u.width";
@import "utilities/u.reveal";
@import "utilities/u.border";
@import "utilities/u.hide";
@import "utilities/u.small-caps";

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  display: none;
  @media #{$bp-lap} { display: table-header-group; }
}

tfoot {
  @include theme-var(background-color, c-background-primary-transparent);

  td, th {
    border-bottom-width: 0;
    padding: 2.3vh $s-small 2.3vh 0;
  }
}

th {
  text-align: left;
  @extend %c-title;
  @extend %c-title--small;
}

td, th {
  padding: 1.2vh $s-small 1.2vh $s-xlarge;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  @include theme-var(border-bottom-color, c-foreground-transparent);

  display: block;
  @media #{$bp-lap} { display: table-cell; }

  &.no-wrap {
    @media #{$bp-lap} { white-space: nowrap; }
  }
}
